body {
  font-family: Roboto Slab;
  margin: 0;
  padding: 0;
  background-color:#333;
  color: red;
  font-weight: bold;
}

li {
  cursor: pointer;
}

#app-container {
  width: 100%;
  height: 100%;
}

#info-window-container {
  background-color: #FFF;
  font-size: 20px;
  width: 350px;
  float: left;
  margin: 15px;
  z-index: 100;
  color: black;
}

.navbar-logo {
 position: relative;
 top: 15px;
 left: 15px;
 width: 200px;
 float: left;
 margin-top: 0px;
 animation: spin 7s linear infinite;
}
.bigFont {
  position: relative;
  top: 10px;
  font-size: 50px;
  margin-bottom: 20px;
  left: 30px;
}

#snow{
  background: none;
  background-image: url('../assets/s1.png'), url('../assets/s2.png'), url('../assets/s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  animation: snow 10s linear infinite;
}

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); 
  transform:rotate(360deg); } 
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.imageSize {
  width: 350px;
}
